.landing {
  height: 100%;
  width: 100%;
  background-image: url('./images/background-dog.jpg');
  background-color: $background-color;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

  .fader {
    height: 100%;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(9, 9, 121, 0) 50%,
      rgba(246, 251, 254, 1) 100%
    );

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .landing-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .action-message {
      font-size: 3em;
      font-weight: bolder;
      text-align: center;
    }

    .links {
      width: 100%;

      i {
        font-size: 2.75em;
        transition: $transition-time;
        margin: 0 0.5em;

        &:hover {
          font-size: 3.25em;
          filter: brightness($constant-filter-brightness - 0.25);
        }
      }
    }

    @media only screen and (max-width: $mobile-breakpoint) {
      .action-message {
        font-size: 2em;
      }

      .links {
        font-size: 1rem;
      }
    }
  }
}
