.menu {
  height: 100vh;
  width: 85vw;
  background-color: $dark-grey;
  color: $background-color;
  position: relative;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  .top {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    img {
      width: 4rem;
    }
  }

  $const-seperator: 0.75rem;
  .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    a {
      color: $background-color;
      font-size: 1.5rem;
      margin: $const-seperator 0;
    }

    .accn-tings {
      margin-top: $const-seperator;
      a {
        margin: 0 0.25rem;
        padding: 0.25rem;
        border-radius: 0.5rem;

        &:first-child {
          border: 0.15rem solid $background-color;
        }

        &:last-child {
          background-color: $background-color;
          color: $dark-grey;
        }
      }
    }
  }

  .socials {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    a {
      color: $background-color;
      margin: 0 0.25rem;
    }
  }
}
