.shop {
  /* height: 100%; */
  width: 100%;
  position: relative;

  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;

  .main-stuff {
    width: 100%;
    padding: 1rem;
    flex-grow: 1;

    display: flex;
    align-items: center;

    $font-size-of-the-bottoms: 1.5em;

    .left {
      width: 65%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      img {
        width: 100%;
      }

      .message {
        font-size: $font-size-of-the-bottoms;
        font-weight: bold;
      }
    }

    .right {
      flex-grow: 1;
      height: 100%;
      width: 35%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      #go-to-shop {
        background-color: $dark-grey;
        color: $background-color;
        padding: 0.5rem;
        border-radius: 0.25em;
        font-size: $font-size-of-the-bottoms;
      }
    }
  }

  @media only screen and (max-width: 875px) {
    .section-name {
      text-align: center;
    }

    .main-stuff {
      flex-direction: column;
      padding: 0;
      .left {
        width: 100%;
        .message {
          display: none;
        }
      }
      .right {
        width: 100%;
        padding: 1rem;

        #go-to-shop {
          margin-top: 1rem;
        }
      }
    }
  }
}
