.tippy-box[data-theme~='todTheme']{
    border: 0.2rem black solid;
    border-width: 0.2rem 0.2rem 0 0.2rem;
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #adb6c4;
    z-index: 1000;
    .icon-trash-empty{
        color: #f57a62;
    }

    i{
        color: black;
    }
}