.top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  background-color: $background-color;
  /* border-bottom: $dark-grey 0.1rem solid; */
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: rgba($color: $dark-grey, $alpha: 0.5) 0 0.25em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  #hamburger {
    display: none;
    cursor: pointer;

    flex-direction: column;
    align-items: center;
    width: 10vw;
    transition: $transition-time;

    $bar-height: 0.2em; /* searchIn(swiperStuff.js, sassBarHeight) */
    $outer-bar-distance: 0.2em; /* searchIn(swiperStuff.js, sassOuterBarDistance)*/
    .bar {
      width: 100%;
      height: $bar-height;
      background-color: $dark-grey;
      border-radius: 0.25em;
      transition: $transition-time;

      &:nth-child(odd) {
        position: relative;
        width: 75%;
      }

      &:nth-child(1) {
        top: -$outer-bar-distance;
      }
      &:nth-child(3) {
        top: $outer-bar-distance;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    #logo {
      width: 3em;
    }
    #logo-name {
      text-align: left;
      font-family: $Rock-Salt-font;
    }
  }

  nav {
    $const-border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    border-radius: $const-border-radius;

    a {
      display: block;
      color: $dark-grey;
      text-decoration: none;
      transition: $transition-time;
      font-size: 1em;
      margin: 0 0.5em;

      &:hover {
        font-size: 1.5em;
        text-decoration: underline;
      }
    }

    .accn-effect {
      padding: 0.5em;
      background-color: $background-color;
      border: 0.1em solid black;
      border-radius: $const-border-radius;

      &:last-child {
        color: $background-color;
        background-color: $dark-grey;
        margin-right: 0;

        &:hover {
          filter: brightness($constant-filter-brightness);
        }
      }

      &:hover {
        text-decoration: none;
        font-size: 1.25em;
      }
    }
  }

  /*Mobile version*/
  @media only screen and (max-width: $mobile-breakpoint) {
    #hamburger {
      display: flex;
    }

    nav {
      display: none;
    }
  }
}
