@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rock+Salt&display=swap');

$Rock-Salt-font: 'Rock Salt', cursive;
$Montserrat-font: 'Montserrat', sans-serif;
$dark-grey: #282828;
$background-color: #f6fbfe;
$transition-time: 500ms;
$mobile-breakpoint: 720px;
$constant-filter-brightness: 1.5;