@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

* a {
  text-decoration: none;
  color: #282828;
}

body {
  background-color: #f6fbfe;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body .swiper-container {
  height: 100vh;
  width: 100vw;
}

body .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
}

body .swiper-container .menu {
  height: 100vh;
  width: 70vw;
  background-color: #282828;
}

body .swiper-container .main-body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

body .swiper-container .main-body .section-name {
  font-size: large;
  font-family: "Rock Salt", cursive;
  font-size: 3rem;
  width: auto;
  text-align: left;
  padding-left: 1rem;
  /* position: absolute;
        top: 1rem;
        left: 1rem; */
}

body .swiper-container .main-body .top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /*Mobile version*/
}

body .swiper-container .main-body .top #hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  transition: 500ms;
  /* searchIn(swiperStuff.js, sassBarHeight) */
  /* searchIn(swiperStuff.js, sassOuterBarDistance)*/
}

body .swiper-container .main-body .top #hamburger .bar {
  width: 100%;
  height: 0.2em;
  background-color: #282828;
  border-radius: 0.25em;
  transition: 500ms;
}

body .swiper-container .main-body .top #hamburger .bar:nth-child(odd) {
  position: relative;
  width: 75%;
}

body .swiper-container .main-body .top #hamburger .bar:nth-child(1) {
  top: -0.2em;
}

body .swiper-container .main-body .top #hamburger .bar:nth-child(3) {
  top: 0.2em;
}

body .swiper-container .main-body .top .logo {
  display: flex;
  align-items: center;
}

body .swiper-container .main-body .top .logo #logo {
  width: 3em;
}

body .swiper-container .main-body .top .logo #logo-name {
  text-align: left;
  font-family: "Rock Salt", cursive;
}

body .swiper-container .main-body .top nav a {
  color: #282828;
  text-decoration: none;
  transition: 500ms;
  font-size: 1em;
  margin: 0 0.5em;
}

body .swiper-container .main-body .top nav a:hover {
  font-size: 1.5em;
  text-decoration: underline;
}

body .swiper-container .main-body .top nav .accn-effect {
  padding: 0.5em;
  border: 0.1em solid black;
  border-radius: 0.5em;
}

body .swiper-container .main-body .top nav .accn-effect:last-child {
  color: #f6fbfe;
  background-color: #282828;
}

body .swiper-container .main-body .top nav .accn-effect:hover {
  text-decoration: none;
  font-size: 1.25em;
}

@media only screen and (max-width: 720px) {
  body .swiper-container .main-body .top #hamburger {
    display: flex;
  }
  body .swiper-container .main-body .top nav {
    display: none;
  }
}

body .swiper-container .main-body .landing {
  height: 100%;
  width: 100%;
  background-image: url("./images/background-dog.jpg");
  background-color: #f6fbfe;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

body .swiper-container .main-body .landing .fader {
  height: 100%;
  width: 100%;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 50%, #f6fbfe 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

body .swiper-container .main-body .landing .landing-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .swiper-container .main-body .landing .landing-action .action-message {
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
}

body .swiper-container .main-body .landing .landing-action .links {
  width: 100%;
}

body .swiper-container .main-body .landing .landing-action .links i {
  font-size: 2.75em;
  transition: 500ms;
  margin: 0 0.5em;
}

body .swiper-container .main-body .landing .landing-action .links i:hover {
  font-size: 3.25em;
}

@media only screen and (max-width: 720px) {
  body .swiper-container .main-body .landing .landing-action .action-message {
    font-size: 2em;
  }
  body .swiper-container .main-body .landing .landing-action .links {
    font-size: 1rem;
  }
}

body .swiper-container .main-body .shop {
  /* height: 100%; */
  width: 100%;
  position: relative;
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
}

body .swiper-container .main-body .shop .main-stuff {
  width: 100%;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

body .swiper-container .main-body .shop .main-stuff .left {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body .swiper-container .main-body .shop .main-stuff .left img {
  width: 100%;
}

body .swiper-container .main-body .shop .main-stuff .left .message {
  font-size: 1.5em;
  font-weight: bold;
}

body .swiper-container .main-body .shop .main-stuff .right {
  flex-grow: 1;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body .swiper-container .main-body .shop .main-stuff .right #go-to-shop {
  background-color: #282828;
  color: #f6fbfe;
  padding: 0.5rem;
  border-radius: 0.25em;
  font-size: 1.5em;
}

@media only screen and (max-width: 875px) {
  body .swiper-container .main-body .shop .section-name {
    text-align: center;
  }
  body .swiper-container .main-body .shop .main-stuff {
    flex-direction: column;
    padding: 0;
  }
  body .swiper-container .main-body .shop .main-stuff .left {
    width: 100%;
  }
  body .swiper-container .main-body .shop .main-stuff .left .message {
    display: none;
  }
  body .swiper-container .main-body .shop .main-stuff .right {
    width: 100%;
    padding: 1rem;
  }
  body .swiper-container .main-body .shop .main-stuff .right #go-to-shop {
    margin-top: 1rem;
  }
}
