@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

* a {
  text-decoration: none;
  color: #282828;
}

body {
  background-color: #f6fbfe;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body .swiper-container {
  height: 100vh;
  width: 100vw;
}

body .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
}

body .swiper-container .menu {
  height: 100vh;
  width: 85vw;
  background-color: #282828;
  color: #f6fbfe;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

body .swiper-container .menu .top {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
}

body .swiper-container .menu .top img {
  width: 4rem;
}

body .swiper-container .menu .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body .swiper-container .menu .links a {
  color: #f6fbfe;
  font-size: 1.5rem;
  margin: 0.75rem 0;
}

body .swiper-container .menu .links .accn-tings {
  margin-top: 0.75rem;
}

body .swiper-container .menu .links .accn-tings a {
  margin: 0 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

body .swiper-container .menu .links .accn-tings a:first-child {
  border: 0.15rem solid #f6fbfe;
}

body .swiper-container .menu .links .accn-tings a:last-child {
  background-color: #f6fbfe;
  color: #282828;
}

body .swiper-container .menu .socials {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

body .swiper-container .menu .socials a {
  color: #f6fbfe;
  margin: 0 0.25rem;
}

body .swiper-container .main-body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: auto;
}

body .swiper-container .main-body .section-name {
  font-size: large;
  font-family: "Rock Salt", cursive;
  font-size: 3rem;
  width: auto;
  text-align: left;
  padding-left: 1rem;
}

body .swiper-container .main-body #parrots {
  width: 100%;
}

body .swiper-container .main-body .top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #f6fbfe;
  /* border-bottom: $dark-grey 0.1rem solid; */
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: rgba(40, 40, 40, 0.5) 0 0.25em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /*Mobile version*/
}

body .swiper-container .main-body .top #hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  transition: 500ms;
  /* searchIn(swiperStuff.js, sassBarHeight) */
  /* searchIn(swiperStuff.js, sassOuterBarDistance)*/
}

body .swiper-container .main-body .top #hamburger .bar {
  width: 100%;
  height: 0.2em;
  background-color: #282828;
  border-radius: 0.25em;
  transition: 500ms;
}

body .swiper-container .main-body .top #hamburger .bar:nth-child(odd) {
  position: relative;
  width: 75%;
}

body .swiper-container .main-body .top #hamburger .bar:nth-child(1) {
  top: -0.2em;
}

body .swiper-container .main-body .top #hamburger .bar:nth-child(3) {
  top: 0.2em;
}

body .swiper-container .main-body .top .logo {
  display: flex;
  align-items: center;
}

body .swiper-container .main-body .top .logo #logo {
  width: 3em;
}

body .swiper-container .main-body .top .logo #logo-name {
  text-align: left;
  font-family: "Rock Salt", cursive;
}

body .swiper-container .main-body .top nav {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

body .swiper-container .main-body .top nav a {
  display: block;
  color: #282828;
  text-decoration: none;
  transition: 500ms;
  font-size: 1em;
  margin: 0 0.5em;
}

body .swiper-container .main-body .top nav a:hover {
  font-size: 1.5em;
  text-decoration: underline;
}

body .swiper-container .main-body .top nav .accn-effect {
  padding: 0.5em;
  background-color: #f6fbfe;
  border: 0.1em solid black;
  border-radius: 0.5rem;
}

body .swiper-container .main-body .top nav .accn-effect:last-child {
  color: #f6fbfe;
  background-color: #282828;
  margin-right: 0;
}

body .swiper-container .main-body .top nav .accn-effect:last-child:hover {
  filter: brightness(1.5);
}

body .swiper-container .main-body .top nav .accn-effect:hover {
  text-decoration: none;
  font-size: 1.25em;
}

@media only screen and (max-width: 720px) {
  body .swiper-container .main-body .top #hamburger {
    display: flex;
  }
  body .swiper-container .main-body .top nav {
    display: none;
  }
}

body .swiper-container .main-body .landing {
  height: 100%;
  width: 100%;
  background-image: url("./images/background-dog.jpg");
  background-color: #f6fbfe;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

body .swiper-container .main-body .landing .fader {
  height: 100%;
  width: 100%;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 50%, #f6fbfe 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

body .swiper-container .main-body .landing .landing-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .swiper-container .main-body .landing .landing-action .action-message {
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
}

body .swiper-container .main-body .landing .landing-action .links {
  width: 100%;
}

body .swiper-container .main-body .landing .landing-action .links i {
  font-size: 2.75em;
  transition: 500ms;
  margin: 0 0.5em;
}

body .swiper-container .main-body .landing .landing-action .links i:hover {
  font-size: 3.25em;
  filter: brightness(1.25);
}

@media only screen and (max-width: 720px) {
  body .swiper-container .main-body .landing .landing-action .action-message {
    font-size: 2em;
  }
  body .swiper-container .main-body .landing .landing-action .links {
    font-size: 1rem;
  }
}

body .swiper-container .main-body .shop {
  width: 100%;
  position: relative;
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
}

body .swiper-container .main-body .shop .main-stuff {
  width: 100%;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

body .swiper-container .main-body .shop .main-stuff .left {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body .swiper-container .main-body .shop .main-stuff .left img {
  width: 100%;
}

body .swiper-container .main-body .shop .main-stuff .left .message {
  font-size: 1.5em;
  font-weight: bold;
}

body .swiper-container .main-body .shop .main-stuff .right {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .swiper-container .main-body .shop .main-stuff .right #go-to-shop {
  margin-top: 2rem;
  background-color: #282828;
  color: #f6fbfe;
  padding: 0.5rem;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: 500ms;
}

body .swiper-container .main-body .shop .main-stuff .right #go-to-shop span {
  font-weight: bolder;
}

body .swiper-container .main-body .shop .main-stuff .right #go-to-shop:hover {
  font-size: 1.75em;
  filter: brightness(1.5);
}

@media only screen and (max-width: 875px) {
  body .swiper-container .main-body .shop .section-name {
    text-align: center;
  }
  body .swiper-container .main-body .shop .main-stuff {
    flex-direction: column;
    padding: 0;
  }
  body .swiper-container .main-body .shop .main-stuff .left {
    width: 100%;
  }
  body .swiper-container .main-body .shop .main-stuff .left .message {
    display: none;
  }
  body .swiper-container .main-body .shop .main-stuff .right {
    width: 100%;
    padding: 1rem;
  }
  body .swiper-container .main-body .shop .main-stuff .right #go-to-shop {
    margin-top: 1rem;
  }
}

body .swiper-container .main-body .about {
  width: 100%;
}

body .swiper-container .main-body .about .main-stuff {
  width: 100%;
  padding: 1rem;
  text-align: left;
}

body .swiper-container .main-body .about .main-stuff #goldFish {
  width: 35%;
  float: right;
  margin: 0 0 0.5rem 0.5rem;
}

body .swiper-container .main-body .about #goldFishForMobile {
  display: none;
}

@media only screen and (max-width: 875px) {
  body .swiper-container .main-body .about .section-name {
    text-align: center;
  }
  body .swiper-container .main-body .about .main-stuff {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  body .swiper-container .main-body .about .main-stuff #goldFish {
    display: none;
  }
  body .swiper-container .main-body .about #goldFishForMobile {
    display: block;
    width: 100%;
  }
}

body .swiper-container .main-body .footer {
  height: auto;
  position: relative;
}

body .swiper-container .main-body .footer .section-name {
  margin-bottom: 1rem;
}

body .swiper-container .main-body .footer .main-stuff {
  background-color: #282828;
  padding: 1rem;
  color: #f6fbfe;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body .swiper-container .main-body .footer .main-stuff .block {
  display: flex;
  flex-direction: column;
}

body .swiper-container .main-body .footer .main-stuff .block .head {
  font-size: 2rem;
  /* margin-bottom: 0.5rem; */
  text-align: left;
  text-decoration: underline;
}

body .swiper-container .main-body .footer .main-stuff .block #physical-address {
  text-align: left;
}

body .swiper-container .main-body .footer .main-stuff .block .content a {
  color: #f6fbfe;
  display: block;
  margin: 0.75rem 0 0.75rem 0;
  width: 100%;
}

body .swiper-container .main-body .footer .main-stuff .block .content a .icon-and-details {
  display: flex;
  justify-content: flex-start;
}

body .swiper-container .main-body .footer .main-stuff .block .content a .icon-and-details .icon {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 875px) {
  body .swiper-container .main-body .footer .section-name {
    text-align: center;
  }
  body .swiper-container .main-body .footer .main-stuff {
    flex-direction: column;
    align-items: center;
  }
  body .swiper-container .main-body .footer .main-stuff .block {
    align-items: center;
    margin-bottom: 1rem;
  }
  body .swiper-container .main-body .footer .main-stuff .block #physical-address a {
    text-align: center;
  }
  body .swiper-container .main-body .footer .main-stuff .block .content {
    text-align: center;
  }
  body .swiper-container .main-body .footer .main-stuff .block .content a {
    width: auto;
  }
  body .swiper-container .main-body .footer .main-stuff .block .content a .icon-and-details {
    justify-content: center;
  }
}
