@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rock+Salt&display=swap');

$Rock-Salt-font: 'Rock Salt', cursive;
$Montserrat-font: 'Montserrat', sans-serif;
$dark-grey: #282828;
$background-color: #f6fbfe;
$transition-time: 500ms;
$mobile-breakpoint: 720px;
$constant-filter-brightness: 1.5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  a {
    text-decoration: none;
    color: $dark-grey;
  }
}

body {
  background-color: $background-color;
  color: $dark-grey;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  .swiper-container {
    height: 100vh;
    width: 100vw;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
    }

    .menu {
      height: 100vh;
      width: 70vw;
      background-color: $dark-grey;
    }

    .main-body {
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;

      .section-name {
        font-size: large;
        font-family: $Rock-Salt-font;
        font-size: 3rem;
        width: auto;
        text-align: left;
        padding-left: 1rem;
      }

      #parrots {
        width: 100%;
      }

      @import './scss/top', './scss/landing', './scss/shop', './scss/theParrots';
    }
  }
}
