.done {
  background-color: #09263c;
  color: #d9d9d9;

  .task-txt {
    text-decoration: line-through;
  }

  .optBtns {
    background-color: orange;
    color: #09263c;
  }

  & + .nested {
    background-color: #09263c;

    li {
      border-color: #d9d9d9;
    }
  }
}

.not-done + .nested li {
  border-color: black;
  // background-color: blue;
}
