> li:not(.caret-show-off) {
  padding: 0.4rem;

  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;

  font-size: 1.25em;
  font-weight: bolder;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nested {
    display: none;
  }
}
