@import '../Vars';

* {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
  user-select: none;

  a {
    text-decoration: none;
    color: $dark-grey;
  }
}

body {
  background-color: $background-color;
  color: $dark-grey;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  .swiper-container {
    height: 100vh;
    width: 100vw;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
    }

    @import './scss/menu';
    @import './scss/top';

    .main-body {
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      scroll-behavior: auto;

      @import './scss/scrollBar';

      main {
        width: 100%;

        .section-name {
          font-size: large;
          font-family: $Rock-Salt-font;
          font-size: 3rem;
          width: auto;
          text-align: left;
          padding-left: 1rem;
        }

        #parrots {
          width: 100%;
        }

        @import './scss/landing', './scss/shop', './scss/about', './scss/footer';
      }
    }
  }
}

.main-text{
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 2.5rem;
}
