.mainBtns {
  z-index: 5;

  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translateX(-50%);

  width: 30%;
  height: 0;
  border-radius: 1rem;
  background-color: #001b2e;
  box-shadow: grey 0.2rem 0.2rem;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  i {
    font-size: 2.5em;
    color: orange;
  }
}

#bottomPiece {
  position: fixed;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, 0);

  width: 30%;
  height: 3.5vh;
  border: solid orange 0.25rem;
  border-radius: 1rem;
  background-color: #001b2e;
  box-shadow: grey 0.2rem 0.2rem;
}
