.tippy-box[data-theme~='todTheme'] {
  border: black solid;
  border-width: 0.2rem 0.2rem 0 0.2rem;
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: #adb6c4;
  .icon-trash-empty {
    color: #f57a62;
  }

  i {
    color: black;
  }
}
