.done {
    background-color: #09263c;
    /* text-decoration: line-through; */
    color: #d9d9d9;

    .task-txt {
        text-decoration: line-through;
    }

    .optBtns {
        background-color: orange;
        color: #09263c;
    }

    & + .nested {
        background-color: #09263c;
    }

    & + .nested .caret,
    & + .nested .nested,
    & + .nested li {
        border-color: #d9d9d9;
    }
}