> li {
  width: 95%;
  background-color: #adb6c4;
  margin-bottom: 0.75em;
  border: 0.2rem black solid;
  border-radius: 0.75em;
  padding: 0.25rem 0 0.25rem 0em;

  word-wrap: break-word;

  .caret {
    cursor: pointer;
    position: relative;
    width: 99.5%;
    margin-top: 0.5rem;
    border-width: 0 0 0 0.188rem;
    border: solid black;
    padding: 0.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    font-size: 1.25em;
    font-weight: bolder;

    .optBtns {
      margin-left: auto;
    }

    &::before {
      margin-right: 0.1rem;

      display: inline-block;

      // transition: 0.5s;
      transform: rotate(0deg);

      font-family: 'fontello';
      font-style: normal;
      font-weight: normal;
      content: '\e801';
    }
  }

  .nested {
    width: 99.5%;
    margin-bottom: 0.5rem;
    border: black solid;
    border-width: 0 0 0.188rem 0.188rem;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0rem 0 0.5rem 0.5rem;
    overflow: hidden;

    li:not(.caret):not(.li-caret) {
      position: relative;

      width: 99%;
      margin: 0.5rem 0;
      border: black solid 0.1rem;
      border-radius: 0.5rem;
      padding: 0.4em;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      word-wrap: break-word;
      font-size: 1em;

      .task-txt {
        max-width: 90%;
      }
    }
  }

  [data-state='not-showing'] {
    margin-bottom: 0.5rem;
    border-width: 0.1rem 0.1rem 0.188rem 0.188rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

    & + .nested {
      display: none;
    }
  }

  [data-state='showing'] {
    border-width: 0.1rem 0.1rem 0 0.188rem;
    border-radius: 0.5rem 0.5rem 0 0;

    &::before {
      transform: rotate(90deg);
    }

    & + .nested {
      display: block;
      border-right-width: 0.1rem;
    }
  }

  & > [data-state='showing'] + .nested {
    border-width: 0;
  }

  & > .caret {
    margin: 0;
  }

  & > .nested,
  & > .caret {
    border-width: 0;
  }
}
